.appTabbar {
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    display: grid;
    justify-items: center;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px) saturate(180%);
    position: fixed;
    bottom: -1px;
    left: 0;
    right: 0;
}

.appNavLink,
.appTabbar__item {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.appTabbar svg {
    height: 32px;
    width: 32px;
}